# Você precisa ter 4 arquivos .env.$(NODE_ENV)
# .env.development, .env.e2e, .env.example, .env.production, .env.test
# Veja o arquivo src/env/configs.ts para mais detalhes de como a gente trabalha om os ambientes

# Valores aceitos: development, test, e2e, production
CURRENT_ENV='ESSE É UM EXEMPLO - ESCREVA SEU TEXTO'
# DEBUG=pw:webserver
# DEBUG=pw:api